
html,body {

	margin: 0;
	height: 100vh;
}

body {

	background-color: black;
}

a {

	text-decoration: none;
}

h1 , h2, h3{
	margin:0;
	padding:0;
}

p{
	margin:0;
	padding:0;
}

#EduFont-A {

	color: rgb(12,1,255);
	font-family: 'Roboto Slab', serif;
}

#EduFont-B {

	color: rgb(134,218,80);
	font-family: 'Roboto Slab', serif;
}

/* ----- Diseño Header ----- */
header {

	height: 100%;
  	overflow: hidden;
  	/*background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);*/
	/*background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; */
	/*	background-image: linear-gradient(to right, #434343 0%, black 100%);*/
	/*
	background: #757F9A;  /* fallback for old browsers */
	/*
	background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
	/*
	background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	background-color:black;

	background-image: url("../images/Portada.png");
	background-repeat: no-repeat;
	background-size: 100% 80%;
	background-position: top;
 }


.NavBar {

	width: 100%;
}

.Logo {

	width: 10%;
	height: 60px;
	float: left;
 	display: block;
}

.Logo img {

	padding-left: 20px;
	padding-top: 15px;
	size: 100% 100%;
}

.Menu {

	width: 80%;
	height: 60px;
	display: inline-block;
}

.Menu ul {

	margin: 0;
	display: flex;
	list-style: none;
	justify-content: center;
}

.Menu ul a {

	color: white;
	font-family: robot_condensed;
	font-size: 23px;
	font-weight: bold;
}

.Menu ul li {

	padding: 2%;
	color: white;
}

header .NavBar .Menu li:hover{

	background: rgba(134,218,80,0.9);
}

.Login {
	display: none;
	width: 10%;
	height: 60px;
	/*display: inline-block;*/
	float: right;
	color: white;
}
	/*-------------portada--------------------*/
.Inicio {

	color: white;
	text-align: center;
	padding-top: 100px;
}

.Inicio2 {

	text-align: center;
	padding-top: 60px;
}

.Inicio h1 {

	font-family: 'Acme', sans-serif;
	font-weight: bold;
	font-size: 70px;
	text-shadow: 0 0 0.2em #007300;

}

.Inicio2 h1 {

	font-family: actor_regular;
	color: white;
	text-shadow: 0px 0px 10px #00A4FF;

}

#abajo{

  width: 260%;
  height: 260%;
  background-color: white;
  border-radius: 100%;
  top: 25%;
  left: -80%;
  right: 0;
  position: relative;

}

/* ----- Diseño Cuerpo ----- */
section {

	height: 100%;

}

/*------Articulos-------*/


/*----------Articulo 1------------*/

.Art1_article1{

	background-color: white;
	height: 40%;
}


.Art1{

	width:70%;
	float: left;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 36%, rgba(209,207,209,1) 80%, rgba(209,207,209,1) 98%, rgba(209,207,209,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(36%, rgba(255,255,255,1)), color-stop(80%, rgba(209,207,209,1)), color-stop(98%, rgba(209,207,209,1)), color-stop(100%, rgba(209,207,209,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 36%, rgba(209,207,209,1) 80%, rgba(209,207,209,1) 98%, rgba(209,207,209,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 36%, rgba(209,207,209,1) 80%, rgba(209,207,209,1) 98%, rgba(209,207,209,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 36%, rgba(209,207,209,1) 80%, rgba(209,207,209,1) 98%, rgba(209,207,209,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 36%, rgba(209,207,209,1) 80%, rgba(209,207,209,1) 98%, rgba(209,207,209,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d1cfd1', GradientType=0 );

}

.Art1_titulo {

    text-align: center;
    width: 100%;
    padding-bottom: 2%;
    padding-top: 0%;

}

.Art1 h2{

		font-size: 43px;
		font-family:actor_regular;
}



.Art1_Cuerpo{

	padding-top: 4px;
	padding-left: 4%;
	padding-right: 4%;
	padding-bottom: 5px;

}

.Art1_Cuerpo h3{

		text-align:left;
		font-size: 20px;
	    font-family: robot_thin;
}

.Art1_boton{
	color: rgb(0,0,0);
	width: 100%;
	padding-top: 20px;
	text-align: center;
	text-decoration: none;

}

.Art1_boton input{

	padding: 0;
	margin-top: 0px;
	margin-left: 26%;
	margin-right: 26%;
	color: white;
	height: 30px;
	width: 34%;
	background-color: black;
	font-size: 10px;
	text-decoration: none;
	font-weight: bold;

}

/*-------aside de articulo 1------*/

.Art1_aside{

	position:relative;
	width: 30%;
	float: left;
	height: 100%;


}

.aside_img1{

	background-color:green;

	width: 87%;
	height: 51%;

	border-radius: 50%;
	border: 3px solid black;
	/*border: 5px inset #006904;*/
	/*position: absolute;*/
    /*left: calc(50% - 140px);*/

    margin: 0;
   	position: absolute;
    top: 5%;
    left: 75%;
    margin-right: -75%;
    transform: translate(-75%, -5%);

    background-image: url("../images/img_educacion3.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position:center;

}

.aside_img2{

	background-color:green;

	width: 69%;
	height: 40%;

	border-radius: 50%;
	/*border: 5px inset  #006904;*/
	border: 3px solid black;
	/*position: absolute;*/
    /*left: calc(50% - 140px);*/
    margin: 0;
   	position: absolute;
    top: 95%;
    left: -2%;
    margin-right: -5%;
    transform: translate(-5%, -95%);
    background-image: url("../images/img_educacion4.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position:center;

}


/*------article2 Art1 ----*/

.Art1_article2{

	height: 60%;
	position: relative;
	background-color: white;
}

.article2_titulo{

	width: 100%;
	text-align: center;
}

.article2_titulo h1{

		font-size: 24px;
	    font-family:actor_regular;
		font-weight: bold;
}

.Lienzo {

	width: 88%;
	margin: 0 auto;

}

.TargetF1C1, .TargetF1C2, .TargetF2C1, .TargetF2C2 {

	display: inline-block;
	width: 40%;
	border: 3px solid rgba(63,233,242,1);
	background-color:#F1FFFF;

	-webkit-box-shadow: 6px 7px 19px -3px   rgba(2,125,201,1);
	-moz-box-shadow: 6px 7px 19px -3px   rgba(2,125,201,1);
	box-shadow: 6px 7px 19px -3px  rgba(2,125,201,1);

	color:white;

	border-radius: 18px;

   	text-align: center;
   	color :black;

}

.TargetsF1{

	padding-top: 3%;

}

.TargetsF1, .TargetsF2 {

	text-align: center; /*para alinear los div y el texto*/

	padding-bottom: 3%;
}


.InfoTF1C1, .InfoTF1C2, .InfoTF2C1, .InfoTF2C2 {

	margin: 0;
	padding-top: 5%;
	width: 90%;
	height: 65%;
	background-color:#F1FFFF;
	margin: 0 auto;
}

.PieTF1C1, .PieTF1C2, .PieTF2C1, .PieTF2C2 {

	width: 90%;
	height: 25%;
	background: rgba(242,242,242,1);

	background-color:#F1FFFF;

}


.Pie-Izq {

	display: inline-block;
	padding-top: 10px;
	width: 60%;
	font-family: 'Stylish', sans-serif;
	font-size: 50px;
	text-align: center;
	border-right: 2px solid #fff;

}

.Pie-Derecho {

	display: inline-block;
	width: 35%;
	text-align: center;

}

.CursosSec h1 {

	color: #fff;
	font-family: 'Stylish', sans-serif;
	font-size: 40px;
	border-bottom: 3px solid #fff;

}

.InfoTF1C1 p, .InfoTF1C2 p, .InfoTF2C1 p, .InfoTF2C2 p{

	font-size: 100px;
	font-family: 'Stylish', sans-serif;
	font-weight: bold;

}

.Pie-Derecho a {

	font-family: 'Stylish', sans-serif;
	font-size: 40px;
	text-decoration: none;
	color: white;
	font-weight: bold;

}

.TargetF1C1:hover, .TargetF1C2:hover, .TargetF2C1:hover, .TargetF2C2:hover{

	-webkit-box-shadow: 1px 1px 1px 3px rgba(63,233,242,1);
	-moz-box-shadow: 1px 1px 1px 3px rgba(63,233,242,1);
	box-shadow: 1px 1px 2px 2px rgba(63,233,242,1);

}



/*----------Articulo 2----------------------------*/

.Art2{

	background-color: #f3f3f3;

	/*	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 36%, rgba(209,207,209,1) 80%, rgba(209,207,209,1) 98%, rgba(209,207,209,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(36%, rgba(255,255,255,1)), color-stop(80%, rgba(209,207,209,1)), color-stop(98%, rgba(209,207,209,1)), color-stop(100%, rgba(209,207,209,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 36%, rgba(209,207,209,1) 80%, rgba(209,207,209,1) 98%, rgba(209,207,209,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 36%, rgba(209,207,209,1) 80%, rgba(209,207,209,1) 98%, rgba(209,207,209,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 36%, rgba(209,207,209,1) 80%, rgba(209,207,209,1) 98%, rgba(209,207,209,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 36%, rgba(209,207,209,1) 80%, rgba(209,207,209,1) 98%, rgba(209,207,209,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d1cfd1', GradientType=0 );
	/*
	/*background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;*/
	/*background-image: linear-gradient(to right, #434343 0%, black 100%);*/
	display: block;
	clear: both;
}

.Art2_titulo{

	width: 100%;
	font-family:actor_regular;
	background-color: #f3f3f3;
}

.Art2_ContPadre{

	padding-left: 10%;
	padding-right: 10%;
	background-color: #f3f3f3;
}

.Art2_titulo h1{

	padding-top: 24px;
	text-align: center;
	font-size: 57px;

}

.Art2_ContPadre{

	padding-top: 120px;
		height: 55%;
}

.Art2_ContHijo1, .Art2_ContHijo2, .Art2_ContHijo3, .Art2_ContHijo4{

	margin-right: 2%;
	margin-left: 2%;
	width: 20%;
	height: 90%;
	background-color: #f3f3f3;
	display: inline-block;
	vertical-align:top;
}

/*----------------Para las imagenes----------------------*/


.ContHijo1_img{


	height:35%;
	position: relative; /*para centrar el div interior*/

	/*background-image: linear-gradient(135deg, #FEED07 0%, #FE6A50 5%, #ED00AA 15%, #2FE3FE 50%, #8900FF 100%);*/
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center;

	border-radius: 50%;


}



.img_1, .img_2, .img_3, .img_4{

	height:100%;
	width: 60%;


	border-radius: 50%;
	border: 0px outset #03db5d;
	/*position: absolute;*/
    /*left: calc(50% - 140px);*/

    margin: 0;
   	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}

.img_1{

	background-image: url("../images/idea.png");
	background-repeat: no-repeat;
	background-size: 70% 70%;
	background-position:center;

}

.img_2{

	background-image: url("../images/teacher2.png");
	background-repeat: no-repeat;
	background-size: 70% 70%;
	background-position:center;

}

.img_3{

	background-image: url("../images/diploma.png");
	background-repeat: no-repeat;
	background-size: 70% 70%;
	background-position:center;

}

.img_4{

	background-image: url("../images/team.png");
	background-repeat: no-repeat;
	background-size: 70% 70%;
	background-position:center;

}

.img_1:hover{ background-image: url("../images/idea2.png"); }
.img_2:hover{background-image: url("../images/teacher22.png");}
.img_3:hover{background-image: url("../images/diploma2.png");}
.img_4:hover{background-image: url("../images/team2.png");}

.img_1:hover, .img_2:hover, .img_3:hover, .img_4:hover{


	background-color: rgb(29,29,29);
}


/*-----------Contenedortextos----------------*/


.ContHijo1_text1{

	height: 35%;
	background-color: #f3f3f3;
	border-top: 3px solid #575858;

}

.ContHijo1_text2{

	height: 30%;
	background-color: #f3f3f3;
}

.ContHijo1_text1 p{

 	padding-top: 5%;
	font-family: averia_regular;
	font-size: 25px;
	text-align: center;

}

.ContHijo1_text2 p{


	font-family: galdeano_regular;
	font-size: 15px;

	text-align: center;

}




/*--------------------Articulo3-------------------------*/

.Art3{

	/*	background-color: #FEF9F2;*/
	background-color: black;
	background-color: #30272D;
	background-color: white;
	clear: both;

}

.Art3_titulo{

	padding-top: 10px;
	font-family: actor_regular;
	padding-left: 3%;
	padding-top: 3%;
	color:black;
	font-size: 30px;

}

.Art3_titulo2{

	font-family: robot_thin;
	padding-left: 3%;
	padding-top: 3%;
	padding-bottom: 3%;
	color:black;
	font-size: 23px;

}

.Art3_Cuerpo1{

	width:55%;
	height: 40%;
	padding-left: 25%;
	padding-right: 20%;
	padding-bottom: 2%;
	padding-top: 4%;

}

.Cuerpo1_ContHijo1{

	margin: 0;
	padding:0;
	width:45%;
	height: 50%;
	margin-top: 8%;
	border: 3px outset rgb(12,1,255);
	text-align: center;
	  /*
	  background-image:
	  repeating-linear-gradient(
      45deg,
      orange,
      yellow 10px,
      red 10px,
      orange 30px
    	);
      */
	float: left;


}

.Cuerpo1_ContHijo2{

	margin:0;
	padding:0;
	margin-left: 30%;
	width:70%;
	height:100%;
	/*background: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);*/
	background-color: blue;
	background-image: url("../images/img_pro1.png");
	background-repeat: no-repeat;
	background-size: 100% 125%;
	background-position:center;
	border: 3px outset black;

}


.Art3_Cuerpo2{

	width:55%;
	height: 40%;
	padding-left: 25%;
	padding-right: 20%;
	padding-top:2%;

}

.Cuerpo2_ContHijo1{

	margin: 0;
	padding:0;
	width:70%;
	height:100%;
	background-color: blue;
	background-image: url("../images/pro3.png");
	background-repeat: no-repeat;
	background-size: 100% 112%;
	background-position:center;

	border: 3px solid black;
	/*
	background:
    repeating-radial-gradient(
      circle at 0 0,
      #eee,
      #ccc 50px
    );
	*/
}

.Cuerpo2_ContHijo2{

	margin:0;
	padding:0;
	width:45%;
	height: 50%;
	margin-top: 8%;
	/*
	background-image:
    linear-gradient(
      to right,
      red,
      #f06d06,
      rgb(255, 255, 0),
      green
    );
    */
	float: right;
	border: 3px outset #26FF29;
}

/*-------Para los textos---------*/

.Cuerpo1_ContHijo1,.Cuerpo2_ContHijo2{

	display: grid;
	justify-content: center;
	align-items: center;

}

.Cuerpo1_ContHijo1:hover{


	background-image: linear-gradient(to right, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.8) 100%);
}

 .Cuerpo2_ContHijo2:hover{

	background-image: linear-gradient(to left, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.8) 100%);

 }

.ContHijo1_titulo1, .ContHijo1_titulo2{

	font-size: 31px;
	color: #2008FF;
	font-family: galdeano_regular;
	font-weight: bold;
}

/*titulo enmedio */

#ContHijo1_tituloVerde{

	color: #26FF29;

}


/* --------- Diseño Footer 1 -------------------------------- */
.footer {

	height: 100%;
	width: 100%;

    display: inline-block;



	background-color: #279454;
	background-image: linear-gradient(180deg, #131D14 0%, #000000 24%, #000000 49%, #000000 75%, #000000 100%);


}


.footer_Padre{

	width: 100%;
	height:100%;

	background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);

	background-image: url("../images/footer_img.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position:top;
}

.footer_img{

	width: 100%;
	height:30%;

}


.footer_hijo1, .footer_hijo2{

	width: 49%;
	height: 70%;
	display: inline-block;

	vertical-align:top;
}

/*--------------footer hijo1--------------------*/

.hijo1_1, .hijo1_2{

	height: 50%;
	width: 100%;


}

.hijo1_1{

	background-image: url("../images/Logo.png");
	background-repeat: no-repeat;
	background-size: 60% 60%;
	background-position: center;

}

.hijo1_2{

	position: relative;

}

.extra1{

	position: absolute;
	bottom: 30%;
	left: 9%;

	font-family: robot_condensed;
	font-size: 16px;
	color: white;

}
/*--------------footer hijo2--------------------*/

.hijo2_1, .hijo2_2{

	height: 100%;
	width: 49%;

	display: inline-block;
	vertical-align: top;

}

.hijo2_1_titulo1,.hijo2_1_titulo2{

	margin-top: 10%;
	width: 100%;
	height: 25%;

	display: grid;
	justify-content: center;
	align-content: center;
	border-bottom: 2px solid white;

	font-size: 28px;
	font-family: robot_thin;
	font-weight: bold;
	color: white;

}

.cont_1, .cont_2{

	height: 69%;
	width: 100%;

	font-size: 16px;
	font-family: robot_condensed;
	color: white;
}

/* -----  Footer final --------------------------------------- -----*/
footer {

	width: 100%;
	background: black;
	color: black;
	text-align: center;
}


/* ----- Diseño Foter -----*/
.ContPiePagina {

	width: 100%;
}

.ContPiePagina p {

	margin: 0;
	color: white;
	font-size: 14px;
	text-align: center;
}

#By {

	font-size: 10px;
}

#DeltaG {

	text-decoration: none;
}

.ContPiePagina a {

	color: rgb(161,188,59);
}


/*------------------fuentes-----------------------------*/

@font-face {
  font-family: robot_condensed;
  src: url("../fonts/RobotoCondensed-Light.ttf");
}

@font-face {
   font-family: robot_thin;
   src: url("../fonts/Roboto-Thin.ttf");

}

@font-face{

	font-family: actor_regular;
	src: url("../fonts/Actor-Regular.ttf");
}

@font-face{

	font-family: averia_regular;
	src:  url("../fonts/AveriaSerifLibre-Regular.ttf");

}

@font-face{

	font-family: galdeano_regular;
	src: url("../fonts/Galdeano-Regular.ttf");

}

@font-face{

	font-family: anton_regular;
	src: url("../fonts/Anton-Regular.ttf");

}

		/* ---------- Responsive ---------- */
/* Dispositivos Muy Pequeños (Telefónos Menor A 360px) */
@media(max-width:360px){


	.Logo {

		display: none;
	}


	.Menu  {


		width: 100%;

	}

	.Menu ul a {


		font-size: 16px;

	}

	/*---------portada---------*/

	.Inicio2{

		padding-top: 0px;
	}

	/*----------Art1---------------*/
	.Art1 {

		width: 100%;

	}

	.Art1_aside{

		display: none;

	}


	.Art1_aside{

		display: none;

	}


	.Art1_article1{

		height: 32%;
	}

	.Art1_article2{

		height: 68%;
	}

	.Art1 h2{

		font-size: 32px;

	}


	.Art1 h1{

		font-size: 32px;

	}

	.Art1_Cuerpo h3{

		font-size: 16px;

	}

	.article2_titulo{

		display: none;

	}

	/*---art1 cursos---*/

	.Lienzo {



	}

	.TargetF1C1, .TargetF1C2, .TargetF2C1, .TargetF2C2 {

		margin-top: 0%;
		display:block;
		width: 97%;

	}


	.TargetsF1{

		padding-top: 0%;

	}

	.TargetsF1, .TargetsF2 {

		text-align: center; /*para alinear los div y el texto*/

		padding-bottom: 0%;
	}

	.InfoTF1C1 p, .InfoTF1C2 p, .InfoTF2C1 p, .InfoTF2C2 p{

		font-size: 20px;

	}

	/*-----------art2------------*/

	.Art2_titulo {

		height: 5%;

	}

	.Art2_titulo h1{

		padding-top: 0px;
		font-size: 17px;

	}

	.Art2_ContPadre{

		padding: 0;
		height: 95%;
	}

	.Art2_ContHijo1, .Art2_ContHijo2, .Art2_ContHijo3, .Art2_ContHijo4{

		margin-right: 0%;
		margin-left: 0%;
		width: 100%;
		height: 25%;
		display: block;

	}

	.Art2_ContHijo1{

		padding-top: 5%;

	}

	/*----------------Para las imagenes----------------------*/


	.ContHijo1_img{

		height:80%;
		width:40%;
		display: inline-block;

	}


	.img_1, .img_2, .img_3, .img_4{

		height:90%;
		width: 90%;


	}

	.img_1:hover, .img_2:hover, .img_3:hover, .img_4:hover{

		border-bottom: 2px solid #03db5d;
		border-left: 2px solid #00D8FF;
		border-top: 2px solid #DB00FF;
		border-right: 2px solid #FB004F;

	}

	/*---Contenedortextos------*/


	.ContHijo1_text1{
		height: 80%;
		width: 45%;
		background-color: #f3f3f3;
		display: inline-block;
		vertical-align: top;
		border-top: 3px solid #575858;
	}

	.ContHijo1_text2{

		display: none;

	}

	.ContHijo1_text1 p{

	 	padding-top: 0%;
	 	font-size: 20px;

	}

	.ContHijo1_text2 p{

	 	text-align: justify;

	}



	/*----------Art3----------------*/


	.Art3_Cuerpo1{

		width:96%;
		height: 40%;
		padding-left: 1%;
		padding-right: 1%;
		padding-bottom: 3%;

	}



	.Art3_Cuerpo2{

		width:96%;
		height: 40%;
		padding-left: 1%;
		padding-right: 1%;
		padding-bottom: 3%;
		padding-top: 3%;

	}

	.ContHijo1_titulo1, .ContHijo1_titulo2{

		font-size: 25px;

	}

	/*------------footer--------------------------------------------*/

	.footer_hijo1{

		width: 30%;

	}

	.footer_hijo2{

		width: 68%;

	}

	.hijo2_1, .hijo2_2{

		height: 100%;
		width: 49%;

		display: inline-block;
		vertical-align: top;


	}

	.hijo2_1_titulo1,.hijo2_1_titulo2{

		margin-top: 10%;
		width: 100%;
		height: 25%;

		display: grid;
		justify-content: center;
		align-content: center;
		border-bottom: 2px solid white;

		font-family: robot_thin;
		font-weight: bold;
		color: white;

	}

	.cont_1, .cont_2{

		height: 69%;
		width: 100%;

		font-family: robot_thin;
		color: white;
	}

}

/* Dispositivos Muy Pequeños (Telefónos Mayor A 360px) */
@media(min-width:360px){


	.Logo {

	 	display: none;
	}

	.Menu  {


		width: 100%;

	}


	.Menu ul a {


		font-size: 16px;

	}
	/*---------------portada-------------------*/
	.Inicio h1 {

		font-size: 50px;

	}

	.Inicio2{

		padding-top: 0px;
	}

	#abajo {

	        top: 19%;
	}
	/*----------Art1---------------*/
	.Art1 {

		width: 100%;

	}

	.Art1_aside{

		display: none;

	}


	.Art1_aside{

		display: none;

	}


	.Art1_article1{

		height: 32%;
	}

	.Art1_article2{

		height: 68%;
	}

	.Art1 h2{

		font-size: 32px;

	}


	.Art1 h1{

		font-size: 32px;

	}

	.Art1_Cuerpo h3{

		font-size: 17px;

	}

	.article2_titulo{

		display: none;

	}

	/*---art1  cursos -----------------*/
	.Art1_Cuerpo {

    	padding-left: 4%;
    	padding-right: 4%;

	}

	.Lienzo {


	}

	.TargetF1C1, .TargetF1C2, .TargetF2C1, .TargetF2C2 {

		margin: 0 auto;
	    display: block;
	    width: 90%;
	    margin-bottom: 4%;

	}


	.TargetsF1{

		padding-top: 0%;

	}

	.TargetsF1, .TargetsF2 {

		padding-bottom: 0%;
	}

	.InfoTF1C1 , .InfoTF1C2 , .InfoTF2C1 , .InfoTF2C2 {

		padding-top:  2%;
		padding-bottom:  2%;

	}

	.InfoTF1C1 p, .InfoTF1C2 p, .InfoTF2C1 p, .InfoTF2C2 p{

		font-size: 20px;

	}

	/*-----------art2------------*/

	.Art2_titulo {

		height: 5%;

	}

	.Art2_titulo h1{

		padding-top: 0px;
		font-size: 17px;

	}

	.Art2_ContPadre{

		padding: 0;
		height: 95%;
	}

	.Art2_ContHijo1, .Art2_ContHijo2, .Art2_ContHijo3, .Art2_ContHijo4{

		margin-right: 0%;
		margin-left: 0%;
		width: 100%;
		height: 25%;
		display: block;
		text-align: center;
	}

	.Art2_ContHijo1{

		padding-top: 5%;

	}

	/*----------------Para las imagenes----------------------*/


	.ContHijo1_img{

		height:80%;
		width:30%;
		display: inline-block;

	}


	.img_1, .img_2, .img_3, .img_4{

		height:90%;
		width: 90%;


	}

	.img_1:hover, .img_2:hover, .img_3:hover, .img_4:hover{

		border-bottom: 2px solid #03db5d;
		border-left: 2px solid #00D8FF;
		border-top: 2px solid #DB00FF;
		border-right: 2px solid #FB004F;

	}

	/*---Contenedortextos------*/


	.ContHijo1_text1{
		height: 80%;
		width: 45%;
		background-color: #f3f3f3;
		display: inline-block;
		vertical-align: top;
		border-top: 2px solid #575858;
	}

	.ContHijo1_text2{

		height: 0%;
		width: 0%;
		background-color: #f3f3f3;
		display: block;
	}

	.ContHijo1_text1 p{

	 	padding-top: 0%;
	 	font-size: 20px;

	}

	.ContHijo1_text2 p{

	 	text-align: justify;

	}

	/*----------Art3----------------*/

	.Art3_Cuerpo1{

		width:96%;
		height: 40%;
		padding-left: 1%;
		padding-right: 1%;
		padding-bottom: 3%;

	}

	.Art3_Cuerpo2{

		width:96%;
		height: 40%;
		padding-left: 1%;
		padding-right: 1%;
		padding-bottom: 3%;
		padding-top: 3%;

	}

	.ContHijo1_titulo1, .ContHijo1_titulo2{

		font-size: 25px;
	}

	.Art3_titulo {

	    font-size: 28px;
	    text-align: center;
	}



	 .Art3_titulo2{

		font-size: 12px;
		text-align: center;	
	}


	/*------------footer--------------------------------------------*/

	.footer_hijo1{

		width: 30%;

	}

	.footer_hijo2{

		width: 68%;

	}

	.hijo2_1, .hijo2_2{

		height: 100%;
		width: 49%;

		display: inline-block;
		vertical-align: top;


	}

	.hijo2_1_titulo1,.hijo2_1_titulo2{

		margin-top: 10%;
		width: 100%;
		height: 25%;

		display: grid;
		justify-content: center;
		align-content: center;
		border-bottom: 2px solid white;

		font-family: robot_thin;
		font-weight: bold;
		color: white;

	}

	.cont_1, .cont_2{

		height: 69%;
		width: 100%;

		font-family: robot_thin;
		color: white;
	}

}

/* Dispositivos Pequeños (Tablets Y Telefonos Mayor A 600px) */
@media(min-width:600px){


	.Logo {

	 	display: block;
	}


	.Menu  {


		width: 80%;

	}


	.Menu ul a {

		font-size: 23px;

	}


	.Art1_Cuerpo h3 {

    	text-align: center;

	}

	#abajo{

	  top: 25%;

	}

 	/*----------------art2------------------------------*/
	.ContHijo1_img {
    	height: 60%;
    	width: 15%;

	}

	.img_1, .img_2, .img_3, .img_4 {
	    height: 100%;
	    width: 100%;
	}

	.ContHijo1_text1 {
    	height: 60%;
	}

	.ContHijo1_text1 p {
    	padding-top: 5%;
	}


	/*------------------art3-----------------------*/

	.ContHijo1_titulo1, .ContHijo1_titulo2{

		font-size: 31px;

	}

	/*---------------------------------------*/	
	.Art3_titulo {

	    font-size: 30px;
	    text-align: left;
	}

	.Art3_titulo2{

		text-align: left;
		font-size: 19px;
	}





}


/* Dispositivos Medianos (Mayores A 768px)*/
@media(min-width:768px){

	.Inicio2{

		padding-top: 60px;
	}


	/*------------Art1-----------------*/
	.Art1 h2 {

	    font-size: 37px;
	}

	.Art1_Cuerpo h3 {

	    font-size: 21px;

	}

	.article2_titulo{

		display: block;

	}

	.Lienzo {



	}

	.TargetF1C1, .TargetF1C2, .TargetF2C1, .TargetF2C2 {

		display: inline-block;
		width: 43%;
		height: 115px;
		margin-right: 0%;
		margin-left: 0%;
		margin-bottom: 0%;
	}


	.TargetsF1, .TargetsF2 {

		padding-bottom: 5%;
	}
	.TargetsF1 {
		
		padding-top: 4%;
	}

	.InfoTF1C1 , .InfoTF1C2 , .InfoTF2C1 , .InfoTF2C2 {

		padding-top: 5%;
		padding-bottom: 5%;

	}

	.InfoTF1C1 p, .InfoTF1C2 p, .InfoTF2C1 p, .InfoTF2C2 p{

		font-size: 180%;


	}


	/*----------Articulo 2----------------------------*/

	.Art2_titulo{

		height: 10%;

	}

	.Art2_titulo h1{

		padding-top: 15px;
		font-size: 37px;

	}


	.Art2_ContPadre{

		padding-left: 5%;
		padding-right: 5%;

	}


	.Art2_ContPadre{

		padding-top: 150px;
		height: 55%;

	}

	.Art2_ContHijo1, .Art2_ContHijo2, .Art2_ContHijo3, .Art2_ContHijo4{

		margin-right: 2%;
		margin-left: 2%;
		width: 20%;
		height: 90%;
		display: inline-block;
		vertical-align:top;
		padding-top: 0;
	}

	/*----------------Para las imagenes----------------------*/


	.ContHijo1_img{


		height:40%;
		width: 100%;
		display: block;


	}



	/*-----------Contenedortextos----------------*/


	.ContHijo1_text1{

		height: 60%;
		width: 100%;
		display: block;
		border-top: 3px solid #575858;

	}



	.ContHijo1_text1 p{

		font-size: 20px;

	}



}

/* Dispositivos Grandes (Laptop/Escritorio Mayores A 992px) */
@media(min-width:992px){

	.Inicio h1 {

		font-size: 70px;


	}


	/*----------Articulo 1------------*/


	.Art1{

		width:70%;

	}

	.Art1_article1{

		height: 40%;
	}

	.Art1 h2{

		font-size: 52px;

	}



	.Art1_Cuerpo h3{

		font-size: 25px;
		text-align: justify;

	}

	.Art1_boton{
		color: rgb(0,0,0);
		width: 100%;
		padding-top: 20px;
		text-align: center;
		text-decoration: none;

	}

	.Art1_boton input{

		padding: 0;
		margin-top: 0px;
		margin-left: 26%;
		margin-right: 26%;
		color: white;
		height: 30px;
		width: 34%;
		background-color: black;
		font-size: 10px;
		text-decoration: none;
		font-weight: bold;

	}


	/*------article2 Art1 ----*/

	.Art1_article2{

		height: 60%;

	}


	.article2_titulo h1{

		font-size: 24px;

	}

	.Lienzo {


	}


	.TargetsF1, .TargetsF2{

		padding-bottom: 0%;

	}

	.TargetsF1{

		padding-top: 3%;
		padding-bottom: 3%;

	}

	.TargetF1C1, .TargetF1C2, .TargetF2C1, .TargetF2C2 {

		width: 45%;
		height: 9%;
	    margin-right: 0%;

	}


	/*-------aside de articulo 1------*/

	.Art1_aside{

		display: block;

	}

	.aside_img1{

		width: 90%;
		height: 48%;
	}

	.aside_img2{

		width: 60%;
		height: 30%;
	    left: 9%;
	}

	/*----------Articulo 2----------------------------*/


	/*----------------Para las imagenes----------------------*/


	.ContHijo1_img{

		height:43%;

	}



	/*-----------Contenedortextos----------------*/


	.ContHijo1_text1{

		height: 57%;

	}


	.ContHijo1_text1 p{

		font-size: 23px;

	}




}

/* Dispositivos ExtraGrandes (Mayores A 1200px) */
/* Extra */
@media(min-width:1182px){

	#abajo{

	  top: 15%;

	}


	/*----------Articulo 2----------------------------*/

	.Art2_titulo{

		height: 15%;

	}

	.Art2_titulo h1{

		padding-top: 24px;
		font-size: 57px;

	}

	.Art2_ContPadre{

		padding-left: 10%;
		padding-right: 10%;
		padding-top: 120px;
	}


	/*----------------Para las imagenes----------------------*/


	.ContHijo1_img{


		height:35%;


	}


	.img_1, .img_2, .img_3, .img_4{

		width: 60%;
		background-size: 81% 71%;

	}


	/*-----------Contenedortextos----------------*/

	.ContHijo1_text1 p{

		font-size: 25px;

	}


	/*--------------Art3------------------*/

	.Art3_Cuerpo1 {

	    width: 84%;
	    height: 45%;
	    padding-left: 7%;
	    padding-right: 7%;
	    padding-bottom: 2%;

	}

	.Cuerpo1_ContHijo2 {

	    width: 70%;
	    height: 100%;

	}

	.Art3_Cuerpo2 {

	    width: 84%;
	    height: 40%;
	    padding-left: 7%;
	    padding-right: 7%;
	    padding-bottom: 0%;
	    padding-top: 0%;

	}

}

/* Extra */
@media(min-width:1294px){

	header{

		background-size: 100% 85%;

	}

	.Art1_Cuerpo h3{

		text-align:center;

	}

	/*-------aside de articulo 1------*/

	.Art1_aside{

		position:relative;
		width: 30%;
		background-color: white;
		float: left;
		height: 100%;

	}

	.aside_img1{

		background-color:green;

		width: 87%;
		height: 51%;

		border-radius: 50%;
		border: 3px solid black;
		/*border: 5px inset #006904;*/
		/*position: absolute;*/
	    /*left: calc(50% - 140px);*/

	    margin: 0;
	   	position: absolute;
	    top: 5%;
	    left: 75%;
	    margin-right: -75%;
	    transform: translate(-75%, -5%);

	    background-image: url("../images/img_educacion3.jpg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-position:center;

	}

	.aside_img2{

		background-color:green;
		width: 69%;
		height: 40%;

		border-radius: 50%;
		/*border: 5px inset  #006904;*/
		border: 3px solid black;
		/*position: absolute;*/
	    /*left: calc(50% - 140px);*/
	    margin: 0;
	   	position: absolute;
	    top: 95%;
	    left: -2%;
	    margin-right: -5%;
	    transform: translate(-5%, -95%);

	    background-image: url("../images/img_educacion4.jpg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-position:center;

	}


	/*------article2 Art1 ----*/


	.TargetF1C1, .TargetF1C2, .TargetF2C1, .TargetF2C2 {

		width: 40%;
		height: 140px;

	}

	/*-------------art2----------------*/


	.ContHijo1_text1{

		padding-top: 5%;

	}

}
